build
venv
.vscode
__pycache__
node_modules
npm-debug.log
.python-version
main.min.css
main.css
objects.inv
output.log
.DS_Store
source/conf.py
package-lock.json
build.log
source/developers/go/*.md
source/developers/dotnet/*.md
source/developers/haskell/*.md
source/developers/java/*.md
source/developers/javascript/*.md
source/developers/python/*.md
source/operations/monitoring/*.md
source/includes/common-metrics-*.md
*.inv
