html {
  line-height: 1.35;
  -webkit-text-size-adjust: 100%;
}

a:not(body) {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button[disabled] {
  cursor: default;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

address {
  font-style: normal;
  color: inherit;
  margin: 0;
}

p:not(body) {
  margin: 0 0 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}


.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  position: relative;
}
.container:not(.container--sm) {
  max-width: 1140px;
}

.container--sm {
  max-width: 800px;
}

.form__group {
  margin-bottom: 30px;
  position: relative;
}


@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.header {
  margin-bottom: 40px;
  z-index: 5;
}
.header .container {
  display: flex;
  align-items: center;
}

.header__top {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.075);
  z-index: 5;
  position: relative;
}
.header__top > .container {
  height: 100px;
}

.header__sort + .header__sort {
  margin-left: 25px;
}

.header__subscribe {
  margin-left: auto;
}

.logo {
  display: flex;
}

.logo__img {
  height: 18px;
  width: auto;
}

.nav {
  padding: 0;
  list-style: none;
  flex: 1 1 auto;
  text-align: right;
  margin: 0 0 0 auto;
}
@media (max-width: 991.98px) {
  .nav {
    z-index: 100;
    height: 100vh;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transform: translate3d(300px, 0, 0);
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 300ms, transform 300ms;
    background-color: rgba(255, 255, 255, 0.9925);
    overflow-y: auto;
  }
  .nav.nav--active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.nav > li {
  display: inline-block;
  position: relative;
}
@media (min-width: 992px) {
  .nav > li:not(.nav-download) {
    margin: 0 20px;
    padding: 10px 0;
  }
}
.nav > li:not(.nav__sub) > a:before {
  left: 0;
  bottom: 3px;
  height: 1px;
  width: 100%;
  position: absolute;
  content: "";
  background-color: #4b4b4b;
  transform: translateY(5px);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}
.nav > li.nav-docs.nav-current > a:before {
  transform: translateY(0);
  opacity: 1;
}
.nav > li.nav-download > a {
  border: 1px solid #c72c48;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  transition: color 300ms, background-color 300ms;
  display: block;
}
@media (max-width: 991.98px) {
  .nav > li.nav-download > a {
    text-align: center;
    margin-top: 20px;
  }
}
.nav > li.nav-download > a:hover {
  background-color: #c72c48;
  color: #fff;
}
.nav > li.nav-download > a:before {
  display: none;
}
.nav > li > a {
  line-height: 100%;
  color: #4b4b4b;
  font-size: 15px;
  position: relative;
  display: inline-block;
}
@media (min-width: 992px) {
  .nav > li > a {
    padding: 10px 0 12px;
  }
}
@media (max-width: 991.98px) {
  .nav > li > a {
    padding: 14px 0;
  }
}
.nav > li > a:hover:before {
  transform: translateY(0);
  opacity: 1;
}
.nav > li:hover .nav__dropdown {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .nav-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -10px 0 auto;
  }
  .nav-toggle > i {
    display: block;
    height: 2px;
    margin: 2px 8px 3px;
    background-color: #c72c48;
  }
  .nav-toggle:hover > i {
    background-color: #000;
  }
}

@media (min-width: 992px) {
  .nav__close {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .nav__close {
    cursor: pointer;
    margin: 0 0 20px auto;
    font-style: normal;
  }
  .nav__close > svg {
    width: 12px;
    fill: #c72c48;
  }
}

@media (min-width: 992px) {
  .nav__backdrop {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .nav__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;
  }
}

.nav__dropdown {
  background-color: #fff;
}
@media (min-width: 992px) {
  .nav__dropdown {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.13);
    width: 360px;
    transform: translateX(calc(-50% + 25px));
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
  }
  .nav__dropdown:before {
    left: 50%;
    margin-left: -6px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -6px;
  }
}
@media (max-width: 991.98px) {
  .nav__dropdown {
    position: relative;
    margin: 0 -30px 0;
    padding: 15px 15px 15px 0;
    display: none;
  }
}

@media (min-width: 992px) {
  .nav__sub > a {
    padding-right: 15px !important;
    background: url("nav-arrow.svg") no-repeat right bottom 14px;
  }
}
@media (max-width: 991.98px) {
  .nav__sub:hover .nav__dropdown {
    display: block;
  }
}

.nav__item {
  display: block;
  text-align: left;
  font-size: 17px;
  color: #000;
  padding: 15px;
  line-height: 100%;
}
.nav__item > small {
  display: block;
  font-size: 13px;
  color: #7f7f7f;
  margin-top: 10px;
  line-height: 18px;
}
.nav__item:hover {
  background-color: #f8f8f8;
  color: #000;
}
@media (min-width: 992px) {
  .nav__item {
    transition: background-color 300ms;
  }
}
@media (max-width: 991.98px) {
  .nav__item {
    text-align: right;
  }
}

.post:not(.post--full) {
  margin-bottom: 40px;
  padding-bottom: 50px;
}
.post:not(.post--full):not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.post__header > h1, .post__header > h2 {
  margin: 0 0 15px;
  line-height: 110%;
}
@media (max-width: 991.98px) {
  .post__header > h1, .post__header > h2 {
    font-size: 30px;
  }
}
.post__header > h1 > a, .post__header > h2 > a {
  color: inherit;
}
.post__header > h1 {
  font-size: 40px;
}
.post__header > h2 {
  font-size: 32px;
}

@media (min-width: 768px) {
  .post__date {
    position: relative;
  }
  .post__date:before {
    content: "";
    height: 12px;
    width: 1px;
    background-color: #ccc;
    display: inline-block;
    margin: 0 12px 0 8px;
  }
}
@media (max-width: 767.98px) {
  .post__date {
    display: block;
    margin-top: 10px;
    padding-top: 8px;
    color: #7f7f7f;
    font-size: 15px;
    border-top: 1px solid #eeeeee;
  }
}


.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.kg-embed-card .fluid-width-video-wrapper {
  margin: 0;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100vw;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kg-gallery-row:not(:first-of-type) {
  margin: 5px 0 0 0;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}
.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 5px;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -20px 0 30px;
}

.dropdown {
  position: relative;
}

.jq-dropdown {
  position: absolute;
  z-index: 100;
  display: none;
}

.jq-dropdown-menu {
  list-style: none;
  background: #fff;
  border: solid 1px #ececec;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075);
  overflow: visible;
  padding: 10px 0;
  margin: 5px 0 0 0;
  min-width: 150px;
}
.jq-dropdown-menu > li > a {
  display: block;
  padding: 7px 15px;
  font-size: 14px;
  color: #4b4b4b;
  white-space: nowrap;
}
.jq-dropdown-menu > li > a:hover {
  background-color: #f9f9f9;
}

.caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #4b4b4b transparent transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
