docutils == 0.17
sphinx == 4.3.2
sphinx-copybutton == 0.4.0
sphinx-design == 0.0.13
sphinx-markdown-tables == 0.0.15
Sphinx-Substitution-Extensions == 2020.9.30.0
sphinx-togglebutton === 0.3.0
sphinxcontrib-images === 0.9.4
myst-parser === 0.16.1