{# Import the theme's layout. #}
{% extends "!layout.html" %}


{# Custom CSS overrides #}

{% block extrahead %}
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56860620-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-56860620-1');
   </script>

   <!-- Crazy egg analytics script -->
   <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0088/9671.js" async="async"></script>

   <!-- Lucky Orange analytics script -->
   <script type='text/javascript'>
      window.__lo_site_id = 226538;
      (function() {
         var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
         wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      }
      )();
   </script>

   {{ super() }}
{% endblock %}

{# Override content block #}

{%- macro miniosidebar() %}
   {%- if render_sidebar %}
      <nav
         class="docs"
         role="navigation"
      >
         {%- block sidebarlogo %}
            {%- if logo %}
               <p class="logo">
                  <a href="{{ pathto(master_doc)|e }}">
                     <img
                        class="logo"
                        src="{{ pathto('_static/' + logo, 1)|e }}"
                        alt="Logo"
                     />
                  </a>
               </p>
            {%- endif %}
         {%- endblock %}

         {%- if sidebars != None %}
            {#- new style sidebar: explicitly include/exclude templates #}
            {%- for sidebartemplate in sidebars %}
               {%- include sidebartemplate %}
            {%- endfor %}
         {%- else %}
            {#- old style sidebars: using blocks -- should be deprecated #}
            {%- block sidebartoc %}
               {%- include "localtoc.html" %}
            {%- endblock %}

            {%- block sidebarrel %}
               {%- include "relations.html" %}
            {%- endblock %}

            {%- block sidebarsourcelink %}
               {%- include "sourcelink.html" %}
            {%- endblock %}

            {%- if customsidebar %}
               {%- include customsidebar %}
            {%- endif %}

            {%- block sidebarsearch %}
               {%- include "searchbox.html" %}
            {%- endblock %}
         {%- endif %}
      </nav>
   {%- endif %}
{%- endmacro %}

{%- block header %}
   <header class="header">
      <div class="logo">
         <i class="toggle-icon toggle-icon--docs" data-toggle="sidebar"></i>
         <a class="logo__link" href="https://min.io">
            <img
               width="85"
               src="{{ pathto('_static/img/docs-logo.svg',1) }}"
               alt="Logo"
            />
         </a>
      </div>
      

      {%- include "top-navigation.html" %}
   </header>
{%- endblock %}

{%- block content %}
   <section class="content scrollbar">
      <aside class="sidebar scrollbar">
         <i class="toggle-icon toggle-icon--close" data-toggle="sidebar"></i>

         <h3 class="sidebar__title">
            <a href="{{ pathto('index') }}">{{ shorttitle}} </a>
         </h3>
         
         {{ miniosidebar() }}
      </aside>
      <div class="content__aside">
         <div id=localtoc></div>
      </div>
      <div class="content__main">
         <!--
         {% block alertbar -%}
            <div class="admonition important">
               <span class="alert-message">
                  <p>Welcome to the upcoming version of the MinIO Documentation!
                     The content on this page is under active development and 
                     may change at any time.
                     If you can't find what you're looking for, check our
                     <a href="https://docs.min.io"> legacy documentation</a>.
                     Thank you for your patience.
                  </p>
               </span>
            </div>
         {% endblock %}
         -->
         {% block body %} {% endblock %}
         <div class="footer">
            <div>
               <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
               <p>&copy;{{ copyright }}</p>
               <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
            </div>
         </div>
      </div>
   </div>
{%- endblock %}

{%- block footer %}
{%- endblock %}