location = /docs {
     return 301 https://min.io/docs/minio/kubernetes/upstream/index.html;
}

location = /docs/minio {
     return 301 https://min.io/docs/minio/kubernetes/upstream/index.html;
}

location = /docs/minio/kubernetes {
     return 301 https://min.io/docs/minio/kubernetes/upstream/index.html;
}