location /docs/minio-gateway-for-nas.html {
     return 301 https://blog.min.io/deprecation-of-the-minio-gateway?ref=docs-redirect;
}

location /docs/minio-gateway-for-s3.html {
     return 301 https://blog.min.io/deprecation-of-the-minio-gateway?ref=docs-redirect;
}

location /docs/minio-vault-legacy.html {
     return 301 https://min.io/docs/minio/linux/operations/server-side-encryption/configure-minio-kes-hashicorp.html?ref=docs-redirect;
}

location /docs/minio-quickstart-guide.html {
     return 301 https://docs.min.io/community/minio-object-store/index.html?ref=docs-redirect;
}

location /docs/minio-docker-quickstart-guide.html {
     return 301 https://min.io/docs/minio/container/index.html?ref=docs-redirect;
}

location /docs/minio-erasure-code-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/operations/concepts.html#how-does-minio-provide-availability-redundancy-and-reliability?ref=docs-redirect;
}

location /docs/distributed-minio-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/operations/install-deploy-manage/deploy-minio-multi-node-multi-drive.html?ref=docs-redirect;
}

location /docs/how-to-secure-access-to-minio-server-with-tls.html {
     return 301 https://min.io/docs/minio/linux/operations/network-encryption.html?ref=docs-redirect;
}

location /docs/minio-security-overview.html {
     return 301 https://min.io/docs/minio/linux/operations/server-side-encryption.html?ref=docs-redirect;
}

location /docs/minio-server-limits-per-tenant.html {
     return 301 https://min.io/docs/minio/linux/operations/checklists.html?ref=docs-redirect;
}

location /docs/minio-server-configuration-guide.html {
     return 301 https://min.io/docs/minio/linux/reference/minio-mc-admin/mc-admin-config.html?ref=docs-redirect;
}

location /docs/minio-monitoring-guide.html {
     return 301 https://min.io/docs/minio/linux/operations/monitoring.html?ref=docs-redirect;
}

location /docs/how-to-monitor-minio-using-prometheus.html {
     return 301 https://min.io/docs/minio/linux/operations/monitoring/collect-minio-metrics-using-prometheus.html?ref=docs-redirect;
}

location /docs/minio-kms-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/server-side-encryption/server-side-encryption-sse-kms.html?ref=docs-redirect;
}

location /docs/minio-multi-user-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/identity-access-management.html?ref=docs-redirect;
}

location /docs/minio-sts-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/security-token-service.html?ref=docs-redirect;
}

location /docs/minio-bucket-versioning-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/object-management/object-versioning.html?ref=docs-redirect;
}

location /docs/minio-bucket-object-lock-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/object-management/object-retention.html?ref=docs-redirect;
}

location /docs/minio-bucket-replication-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/bucket-replication.html?ref=docs-redirect;
}

location /docs/minio-bucket-notification-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/monitoring.html?ref=docs-redirect;
}

location /docs/minio-bucket-lifecycle-guide.html {
     return 301 https://min.io/docs/minio/linux/administration/object-management/object-lifecycle-management.html?ref=docs-redirect;
}

location /docs/minio-select-api-quickstart-guide.html {
     return 301 https://blog.min.io/tag/s3-select/?ref=docs-redirect;
}

location /docs/using-minio-with-veeam.html {
     return 301 https://min.io/docs/minio/linux/integrations/using-minio-with-veeam.html?ref=docs-redirect;
}

location /docs/minio-deployment-quickstart-guide.html {
     return 301 https://min.io/docs/minio/kubernetes/upstream/index.html?ref=docs-redirect;
}

location /docs/deploy-minio-on-kubernetes.html {
     return 301 https://min.io/docs/minio/kubernetes/upstream/index.html?ref=docs-redirect;
}

location /docs/deploy-minio-on-docker-compose.html {
     return 301 https://min.io/docs/minio/container/index.html?ref=docs-redirect;
}

location /docs/minio-client-quickstart-guide.html {
     return 301 https://docs.min.io/community/minio-object-store/reference/minio-mc.html?ref=docs-redirect;
}

location /docs/minio-client-complete-guide.html {
     return 301 https://docs.min.io/community/minio-object-store/reference/minio-mc.html?ref=docs-redirect;
}

location /docs/minio-admin-complete-guide.html {
     return 301 https://min.io/docs/minio/linux/reference/minio-mc-admin.html?ref=docs-redirect;
}

location /docs/java-client-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/java/minio-java.html?ref=docs-redirect;
}

location /docs/java-client-api-reference.html {
     return 301 https://min.io/docs/minio/linux/developers/java/API.html?ref=docs-redirect;
}

location /docs/golang-client-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/go/minio-go.html?ref=docs-redirect;
}

location /docs/golang-client-api-reference.html {
     return 301 https://min.io/docs/minio/linux/developers/go/API.html
}

location /docs/python-client-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/python/minio-py.html?ref=docs-redirect;
}

location /docs/python-client-api-reference.html {
     return 301 https://min.io/docs/minio/linux/developers/python/API.html?ref=docs-redirect;
}

location /docs/javascript-client-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/javascript/minio-javascript.html?ref=docs-redirect;
}

location /docs/javascript-client-api-reference.html {
     return 301 https://min.io/docs/minio/linux/developers/javascript/API.html?ref=docs-redirect;
}

location /docs/dotnet-client-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/dotnet/minio-dotnet.html?ref=docs-redirect;
}

location /docs/dotnet-client-api-reference.html {
     return 301 https://min.io/docs/minio/linux/developers/dotnet/API.html?ref=docs-redirect;
}

location /docs/haskell-client-quickstart-guide.html {
     return 301 https://min.io/docs/minio/linux/developers/haskell/minio-haskell.html?ref=docs-redirect;
}

location /docs/haskell-client-api-reference.html {
     return 301 https://min.io/docs/minio/linux/developers/haskell/API.html?ref=docs-redirect;
}

location /docs/disaggregated-spark-and-hadoop-hive-with-minio.html {
     return 301 https://min.io/docs/minio/linux/integrations/disaggregated-spark-and-hadoop-hive-with-minio.html?ref=docs-redirect;
}

location /docs/aws-cli-with-minio.html {
     return 301 https://min.io/docs/minio/linux/integrations/aws-cli-with-minio.html?ref=docs-redirect;
}

location /docs/setup-nginx-proxy-with-minio.html {
     return 301 https://min.io/docs/minio/linux/integrations/setup-nginx-proxy-with-minio.html?ref=docs-redirect;
}

location /docs/upload-files-from-browser-using-pre-signed-urls.html {
     return 301 https://min.io/docs/minio/linux/integrations/upload-files-from-browser-using-pre-signed-urls.html?ref=docs-redirect;
}

location /docs/how-to-use-minio-s-server-side-encryption-with-aws-cli.html {
     return 301 https://min.io/docs/minio/linux/integrations/how-to-use-minio-s-server-side-encryption-with-aws-cli.html?ref=docs-redirect;
}

location /docs/how-to-run-minio-in-freenas.html {
     return 301 https://min.io/docs/minio/linux/?ref=docs-redirect;
}

location /docs {
     return 301 https://min.io/docs/minio/kubernetes/upstream/index.html?ref=docs-redirect;
}