* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus,
    &:active {
        outline: none;
    }
}

html {
    font-size: $root-font-size;
    scroll-behavior: smooth;
    scroll-padding: 1rem;

    @include breakpoint-min(breakpoints(lg)) { 
        &.read-mode {
            body {
                height: 100vh;
                overflow: hidden;
            }
        }
    }
}

body {
    all: unset;
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: $body-line-height;
    color: var(--text-color);
    font-weight: $font-weight-normal;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    word-break: break-word;
}