@font-face {
     font-family: "Mark";
     src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}

 @font-face {
     font-family: "Mark";
     src: url("../fonts/inter/Inter-Medium.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: "Mark";
     src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}