@font-face {
    font-family: "Mark";
    src: url("../fonts/Mark-Regular.woff2") format("woff2"),
         url("../fonts/Mark-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
 }

 @font-face {
     font-family: "Mark";
     src: url("../fonts/Mark-Medium.woff2") format("woff2"),
          url("../fonts/Mark-Medium.woff") format("woff");
     font-weight: 500;
     font-style: normal;
  }