.content {
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;
    height: calc(100vh - #{$header-height});

    @include breakpoint-min(breakpoints(lg)) {
        display: flex;
    }
}

.content__main {
    flex: 1;
    min-width: 0;
    background-color: $content-bg;
    align-self: flex-start;
    padding: $content-padding;

    @include breakpoint-min(breakpoints(xl)) { 
        padding-left: $sidebar-width + $content-padding;
        transition: padding-left 300ms;
        will-change: padding-left;
    }
}

.sidebar-toggled {
    .content__main {
        padding-left: $content-padding;
    }
}

.content__aside {
    @include breakpoint-min(breakpoints(lg)) {
        flex-shrink: 0;
        position: sticky;
        top: 0;
        order: 2;
    }
}

.content__right {
    position: sticky;
    top: 0;
    overflow: scroll;
}