.content__inner {
    @include breakpoint-min(breakpoints(lg)) {
		display: flex;
	}
}

.content__main {
    flex: 1;
    min-width: 0;
    align-self: flex-start;
    padding: var(--content-padding);
}

.sidebar-active {
    .content__main {
        padding-left: var(--content-padding);
    }
}

.content__right {
    position: sticky;
    top: 0;
    overflow: scroll;
}

.container { 
    margin: 0 auto;
    padding: 0 var(--content-padding);
    width: 100%;
}

:root {
    &:not(.read-mode) {
        .container {
            max-width: $container-width;
        }
    }

    &.read-mode {
        .content {
            & > .container {
                padding: 0;
            }
        }
    }
}

// Keep only the main content when the page is loaded inside an iframe.
// Currently we load certain pages inside iframes for PathFactory analytics.
.inside-iframe {
    .header,
    .sidebar {
        display: none;
    }

    .content {
        height: 100vh;
    }

    .content__main {
        padding-left: var(--content-padding);
    }
}